// Colors
$text-color: #474747;
$black: #2b2b2b;
$yellow: #ffb800;

// Font sizes
$font-base: 14px;
$font-nav: 17px;
$font-heading1: 42px;
$font-heading3: 36px;

// Screen Sizes
$xxl-screen: 1400px;
$xl-screen: 1200px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;
$xs-screen: 350px;
