* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  color: #000000;
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}
.container {
  width: 100%;
  margin: 0 auto;
}
p {
  color: var(--text-color);
  font-weight: 400;
}
input:focus,
.btn:focus,
select:focus {
  box-shadow: none;
  outline: none;
}

:root {
  --primary-color: #ff5041;
  --text-color: #000000;
}

/* --------- Link ----------- */
a {
  text-decoration: none;
  color: #fff;
}

/* ------------------------------- Header Navigation bar ------------------------------------ */

.Header-container {
  background: url("/images/header-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Header-container .navbar {
  background-color: transparent !important;
}
.navbar-brand {
  color: black;
  font-weight: 800;
  font-size: 27px;
}
.navbar-light .navbar-toggler {
  border: 1px solid var(--primary-color);
}
.navbar-toggler:focus {
  box-shadow: none;
  border: 1px solid var(--primary-color);
}
.navbar-toggler span {
  font-size: 15px;
  color: var(--primary-color);
  color: black;
}
#navbarSupportedContent ul {
  margin-left: 230px;
}
#navbarSupportedContent ul li {
  font-weight: 500;
  font-size: 14px;
  padding: 0 5px;
}
#navbarSupportedContent ul li a {
  color: black;
}
#navbarSupportedContent ul li a:hover {
  color: var(--primary-color);
}

.primary-button {
  color: white;
  background-color: var(--primary-color);
  padding: 5px 25px;
  font-size: 14px;
  font-weight: normal;
  border: none;
  border-radius: 2px;
}
.primary-button:hover {
  background-color: #ff311e;
}

/* ---------------------------------------- Header ------------------------------------------ */
.header-content {
  padding: 40px 0;
}
.header-content .header-right {
  padding: 0 100px;
}
.header-content .header-left {
  padding: 0 20px;
}
.header-left h1 {
  font-family: "Secular One", sans-serif;
  font-size: 60px;
  font-weight: normal;
  color: black;
}
.header-left .vertical-line {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
}
.header-left p {
  font-weight: 500;
  margin: 20px 0;
  width: 300px;
  max-width: 100%;
  border-left: 3px solid var(--primary-color);
  padding-left: 20px;
}
.header-left .see-projects {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 9px 25px;
}

/* ---------------------------------------- Services ------------------------------------------ */

.services {
  margin: 70px 0;
  text-align: center;
}
.services h2 {
  font-weight: 700;
  padding: 20px 0;
}
.servicesRow {
  margin: 40px auto;
}
.servicesRow .service-item {
  text-align: center;
  margin: 0 55px;
}

.service-item i {
  font-size: 50px;
  color: var(--primary-color);
  font-weight: lighter;
  padding: 30px 32px;
  background-color: #fff3f2;
  border-radius: 50%;
  margin: 20px 0;
}

.service-item h5 {
  font-weight: 600;
  padding: 10px 0;
}

/* ------------------------------------ about us ------------------------------------- */
.aboutUs {
  margin: 150px 0;
}
.aboutRow .aboutRowCol1 {
  padding: 0 40px;
}
.aboutRowCol2 {
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
}
.aboutRowCol2 h2 {
  font-weight: 700;
  font-size: 35px;
  padding: 15px 0;
}
.aboutRowCol2 p {
  font-weight: 500;
}
.aboutList ul {
  list-style-type: none;
}
.aboutList ul li::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: -5px;
  border: 5px solid var(--primary-color);
}
.aboutList ul li {
  font-size: 15px;
  font-weight: 500;
  padding: 8px 0;
  margin-left: -2rem;
}
.aboutRowCol2 .learnMore {
  color: var(--primary-color);
  background-color: #fff3f2;
  font-weight: 600;
  padding: 9px 25px;
}

/* ------------------------------------ Projects ------------------------------------- */

.projects {
  background-color: #fafbfc;
  padding-top: 40px;
}
.projects h1 {
  font-weight: 600;
  margin: 50px 0;
}
.projects-menu {
  margin: 20px 0;
}
.projects-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: -20px;
  padding: 20px 0;
}
.projects-menu ul li {
  padding: 0 25px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
.projects-menu ul li:hover {
  color: var(--primary-color);
}

/* tabs  */

.projects-menu ul li.active {
  color: var(--primary-color);
}
.tabcontent {
  display: none;
}
.allProjects {
  display: block;
}

/* tabs  */

.flipCardRow {
  margin: 30px auto;
}
.flipCardCol {
  margin-bottom: 40px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 460px;
  max-width: 100%;
  perspective: 1000px;
  margin: 0 auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: lightgray;
  color: black;
  transform: rotateY(180deg);
}
.flip-card-back h4 {
  font-weight: 600;
}

/* ------------------------------ Skills and Experience ------------------------------ */

.skills-section {
  margin: 80px 0;
}
.skills-section h2 {
  font-weight: 600;
  line-height: 1.4;
}

.skills-section p {
  font-weight: 500;
  margin: 25px 0;
}
.getProject-btn {
  padding: 8px 25px;
  font-size: 13px;
}

.skillContainer {
  width: 100%;
  background-color: #fff;
  margin-bottom: 35px;
}

.skillContainer .skillContent {
  margin-bottom: 5px;
  font-weight: 600;
}
.skillContainer .skill-bg {
  background-color: rgb(228, 228, 228);
}

.skills {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: var(--primary-color);
  border-radius: 3px;
}

.design-branding {
  width: 79%;
  background-color: var(--primary-color);
}
.web {
  width: 95%;
}
.bs {
  width: 73%;
}
.photography {
  width: 83%;
}

/* ------------------------------ Career Numbers ------------------------------ */

.career-numbers {
  margin: 100px 0;
}
.careerCol .number {
  font-size: 38px;
  font-weight: 600;
}

.careerCol .number-name {
  font-weight: 600;
  text-align: center;
  font-size: 13px;
}
.careerCol .achivement {
  font-size: 32px;
}

/* ------------------------------ Client Reviews ------------------------------ */

.reviews {
  background-color: #fafbfc;
  padding: 80px 0;
}
.reviews-heading,
.contact-heading {
  font-weight: 600;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}
.ReviewsRow,
.blogsRow {
  margin: 50px 0;
}
.ReviewsRowCol {
  padding: 0 10px;
}
.review-card {
  background-color: #fff;
  padding: 20px 30px 70px 30px;
  border-radius: 5px;
}
.review-card-img {
  padding: 20px 0;
}
.review-card-img img {
  width: 70px;
  height: 70px;
}
.review-card-content {
  padding: 0 15px;
}
.review-card-content h5 {
  font-weight: 500;
}

.review-card-content h6 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}
.carousel-btns {
  margin-left: 7px;
}
.carousel-control-next,
.carousel-control-prev {
  background-color: white !important;
  position: static;
  top: 0;
  bottom: 0;
  z-index: 0;
  display: inline-block;
  width: 40px;
  padding: 0;
  color: #000000 !important;
  text-align: unset;
  background: 0;
  border: 0;
  opacity: 1;
  transition: opacity 0.15s ease;
  text-align: center;
  margin: 0 3px;
  border-radius: 2px;
}
.carousel-control-next .fas,
.carousel-control-prev .fas {
  color: var(--primary-color) !important;
  padding: 10px 0;
  font-size: 18px;
}

/* ------------------------------ Blogs & News ------------------------------ */

.blogs {
  padding: 80px 0;
}
.blog-heading {
  font-weight: 600;
  width: 350px;
  max-width: 100%;
}
.blogsRow {
  margin: 40px auto;
}
.blog-card {
  width: 96%;
  max-width: 100%;
}
.blog-card-content {
  padding: 40px;
  box-shadow: 0 0 20px 0 rgba(173, 173, 173, 0.2);
}
.blog-card-content h5 {
  font-weight: 600;
}
.blog-card-content h6 {
  font-size: 13px;
  margin: 10px 0 35px 0;
}

.read-more {
  font-size: 13px;
  padding: 8px 30px;
}

/* ------------------------------ Astusx logos ------------------------------ */

.astusx-logos {
  margin: 30px 0;
}
.astusxRow {
  margin: 0 auto;
}
.astusx-img {
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
}
.astusxRowCol {
  padding: 25px 0;
}

/* ------------------------------ contact ------------------------------ */

.contact {
  margin-top: 60px;
  padding: 80px 0;
  background-color: #f6f8fa;
}
.contact-heading {
  width: 400px;
  max-width: 100%;
}
.form {
  margin: 50px 20px 30px 20px;
}
.form .sendMessage {
  padding: 8px 25px;
  width: 100%;
  font-size: 13px;
}
.formRow input {
  border: none;
  font-weight: 500;
  color: black;
  padding: 8px 13px;
  width: 100%;
}
.formRow input:focus {
  box-shadow: none;
}

/* ------------------------------ Footer ------------------------------ */

.footer {
  margin: 25px 0;
}
.footerRow {
  margin: 0 auto;
}
.column {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
}
.column h5 {
  font-weight: 700;
  padding: 20px 0;
}
.column p {
  font-weight: 500;
}
.footerCol2 ul {
  margin-left: -3px;
}
.footerCol2 ul li {
  font-weight: 500;
  margin: 15px 0;
}
.footerCol3 input {
  font-size: 13px;
  padding: 8px 10px;
  margin: 8px 0;
}
.footerCol3 input:focus {
  box-shadow: none;
}
.footerCol3 .sendMessage {
  font-size: 11px;
  padding: 8px 30px;
}
.footerCol4 {
  padding-left: 30px;
}
.mini-footer {
  margin-top: 80px;
}
.copyrightRow {
  padding: 0 22px;
}
.copyrightRow p {
  font-size: 15px;
  font-weight: 500;
}
.copyrightRow ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.copyrightRow ul li {
  padding: 0 0 0 30px;
  display: inline-block;
  font-weight: 500;
}
.copyrightRow ul li:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* ------------------------------ Responsive media queries ------------------------------ */
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container.xxl {
    max-width: 1500px !important;
  }
}

/* -------------------Less than 990px width -------------------- */

@media only screen and (max-width: 990px) {
  #navbarSupportedContent ul {
    margin-left: 0;
  }
  #navbarSupportedContent ul li {
    margin: 4px 0;
  }
  .header-content .header-right {
    padding: 0 40px;
  }
  .header-left h1 {
    font-size: 40px;
    font-weight: normal;
  }
  .servicesRow {
    margin: 0px auto;
  }
  .servicesRow .service-item {
    margin: 20px 50px;
  }
  .careerCol .number {
    font-size: 30px;
  }
  .careerCol .achivement {
    font-size: 25px;
  }
  .footerCol2 ul li {
    margin: 8px 0;
  }
  .footerCol2 ul {
    margin-left: -10px;
  }
  .copyrightRow {
    padding: 0;
    text-align: center;
  }
  .copyrightRow ul li {
    padding: 0 20px;
  }
  .copyrightRow ul {
    justify-content: center;
  }
}

/* ------------------- Less than 776px width -------------------- */

@media only screen and (max-width: 776px) {
  .header-content .header-right {
    padding: 0 20px;
  }
  .header-left h1 {
    font-size: 30px;
  }
  .header-left {
    margin-bottom: 50px;
  }
  .aboutUs {
    margin: 60px 0;
  }
  .aboutRowCol2 {
    margin: 50px auto;
    padding: 0 15px;
  }
  .aboutRowCol2 h2 {
    font-size: 25px;
    font-weight: 800;
  }

  .projects-menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding: 0 0;
  }
  .projects-menu ul li {
    padding: 10px 0;
  }
  .projects h1 {
    font-weight: 600;
    margin: 30px 0;
    text-align: center;
  }
  .flip-card {
    width: 300px;
    height: 300px;
    margin: 20px auto;
  }
  .skills-section {
    margin: 80px 10px;
  }
  .skillRowCol1 {
    margin: 30px 0 50px 0;
  }
  .careerCol .number {
    font-size: 28px;
  }
  .careerCol .achivement {
    font-size: 25px;
  }
  .career-numbers {
    margin: 80px 10px;
  }
  .careerCol {
    margin: 20px 0;
  }
  .ReviewsRowCol {
    padding: 20px 10px;
  }

  .blogs {
    padding: 80px 10px 10px 10px;
  }

  .blogsRowCol {
    margin: 20px 0;
  }
  .blog-card {
    width: 100%;
  }
  .contact {
    padding: 50px 0;
  }
  .formRow input,
  .form .sendMessage {
    margin: 8px 0;
  }
  .form {
    margin: 50px 10px 30px 10px;
  }
  .column h5 {
    padding: 10px 0;
  }
  .column {
    margin: 15px 0;
  }
  .footerCol4 {
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .column {
    width: 100%;
  }
  .footerCol3 input {
    margin: 15px 0;
  }
  .copyrightRow ul {
    display: block;
  }
  .copyrightRow ul li {
    padding: 0 12px;
  }
}

@media only screen and (max-width: 576px) {
}
